<div class="container">

  <div id="footerFirstRow" class="row">

    <h3 class="col-sm-4"><a href="#/home">RobotiqueFF</a></h3>

    <ul class="col-sm-4">
      <h5 class="text-muted">Sponsori</h5>
      <li><a href="https://www.facebook.com/akka.romserv?fref=ts">Akka Romserv</a></li>
      <li><a href="http://www.teamnet.ro/">Teamnet</a></li>
      <li><a href="http://ing.pub.ro/">FILS</a></li>
    </ul>

    <ul class="col-sm-4">
      <h5 class="text-muted">Follow us on </h5>
      <li>
        <a href="https://www.facebook.com/robotiqueff" class="btn btn-social-icon btn-facebook btn-facebook-padding">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
    </ul>

  </div>

  <hr id="footerDivider"></hr>

  <div id="footerSecondRow" class="row text-center">
    <h6 class="text-muted"> Copyright &copy; 2016 RobotiqueFF</h6>
  </div>


</div>
