body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E6E6E6;
}

a {
  color: #00B7FF;
}

#mainContent {
  background-color: #FFFFFF;
  margin-bottom: 3%;
  border-radius: 5px;
}

#contentHeader {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
}

.contentArrange {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
  padding-bottom: 5%;
}

aside {
  padding: 3% 5%;
}

footer {
  color: white;
  background-color: #222;
}

#footerFirstRow {
  padding-top: 3%;
  padding-bottom: 1%;
}

#footerFirstRow ul{
  list-style-type: none;
}

#footerFirstRow a{
  color: #AAA;
}

#footerSecondRow {
  padding-bottom: 3%;
}

#footerDivider {
  border: 1px solid #333;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:40px;
    right:40px;
    display:none;
    text-indent:-9999px;
    background: url('/images/up-black-arrow-md.png') center center;
    background-size: cover;

}

.no-padding {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 4%;
}

#banner {
  margin-top: 50px;
}

.btn-facebook-padding {
  padding-left: 35px;
}



.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  height: 400px;
  margin: auto;
}

@media screen and (max-width: 568px) {
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img  {
    height: 200px;
    }
}

/* Responsive text*/
/*======================*/
@media screen and (max-width: 568px) {
        h1 {
    font-size:20px;
    }
}

@media screen and (max-width: 568px) {
        h3 {
    font-size:18px;
    }
}
/*======================*/


/*Below code can be used to center navbar. Uncomment if needed*/

/*@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}*/

/* Hover code */
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
